.btn-group{
    width: 100%;
}

.dropdown-menu{
    width: 100%;
}

.container{
    text-align: center;
}
.foot{
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 40px;
    display: flex;
    justify-content: space-around;
}
.Icon {
    width: 15px;
    height: 15px;
}
.profile,.write{
    display: inline-block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: rgb(210, 231, 243);
    color: black;
    margin: auto;
}
.word {
    text-align: center;
    font-weight: bolder;
    height: 50px;
}

.refresh{
    background-image: url('images/refresh.png');
    background-size: 100% 100%;
    width: 55px;
    height: 55px;
}

.container{
    margin: 0 auto;
    width: 90%;
}