.btn-group{
    width: 100%;
}

.dropdown-menu{
    width: 100%;
}

.container{
    text-align: center;
}
.foot{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.profile,.write{
    display: inline-block;
    border-radius: 50%;
    /* width: 180px; */
    width: 100px;
    height: 100px;
    background-color: pink;
    color: black;
    margin: auto;
}