.circle{
    border-radius: 50%;
    width: 230px;
    /* width: 35%; */
    height: 230px;
    background-color: pink;
    /* color: black; */
    padding-top: 30px;
    position:absolute
}
.name ,.state{
    text-align: center;
    width: 60%;
    height: 25%;
    margin:auto;
    margin-bottom: 20px;
}
