.userProfile{
    background-color: rgb(210, 231, 243);
    width: 95%;
    height: 50%;
    text-align: center;
    
}

.icon{

}

.setting{
    width: 10%;
    height: 10%;
    background-color: rgb(210, 231, 243);
}