.circle{
    border-radius: 50%;
    width: 180px;
    /* width: 35%; */
    height: 180px;
    background-color: pink;
    padding-top: 30px;
    position:absolute;
    transition: 0.5s;
}
.name ,.state{
    text-align: center;
    margin:auto;
    margin-bottom: 10px;
}
.name{
    font-size: 18px;
    font-weight: 500;
}

.userInfo{
    width: 95px;
    transform: translateY(-50%) translateX(41%);
    position: absolute;
    top: 50%;
}

.circle:hover{
    transform: scale(1.2);
}
.at-home {
    box-shadow:3px 3px 12px gray;padding:3px;
}
.not-at-home {
    opacity:0.3;
}